jax>=0.4.14
jaxlib>=0.4.14
pyscf>=2.3.0
attrs>=23.1.0
flax>=0.7.2
tensorflow>=2.13.0
tensorflow-hub>=0.14.0
openfermion>=1.5.1
tqdm>=4.66.1
torch>=2.0.1
matplotlib>=3.7.2
pandas>=2.0.3
seaborn>=0.12.2